###############################################################################
# This sample file will forward mysql error logs to NR once                   #
#   it is renamed to mysql-log.yml                                            #
# On Linux systems no restart is needed after it is renamed                   #
# Source: mysql error log file                                                #
# Available customization parameters: attributes, max_line_kb, pattern        #
###############################################################################
logs:
  - name: "mysqllog"
    file: /var/log/mysql/error.log
    attributes:
      logtype: mysql-error
