integrations:
- name: nri-mysql
  env:
    HOSTNAME: localhost
    PORT: 3306
    # If not empty `socket` parameter will discard `port` parameter
    SOCKET: <PATH_TO_LOCAL_SOCKET_FILE_NAME>
    
    USERNAME: newrelic
    PASSWORD: <YOUR_SELECTED_PASSWORD>

    # New users should leave this property as `true`, to identify the
    # monitored entities as `remote`. Setting this property to `false` (the
    # default value) is deprecated and will be removed soon, disallowing
    # entities that are identified as `local`.
    # Please check the documentation to get more information about local
    # versus remote entities:
    # https://github.com/newrelic/infra-integrations-sdk/blob/master/docs/entity-definition.md
    REMOTE_MONITORING: true
  interval: 30s
  labels:
    env: production
    role: write-replica
  inventory_source: config/mysql
